<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.openecard.demo">

    <!-- Other permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize">

            <!-- don't destroy activity if screen orientation has changed. -->
            <!-- otherwise the service will be stopped cause Activity will be destroyed and reloaded. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.CustomActivationActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize" >
        </activity>

        <activity android:name="org.openecard.demo.activities.UseCaseSelectorActivity"
                  android:clearTaskOnLaunch="true"
                  android:configChanges="orientation|screenSize" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="eid"/>
                <data android:scheme="http"/>
                <data android:host="127.0.0.1" android:port="24727"/>
                <data android:host="localhost" android:port="24727"/>
                <data android:pathPattern="/eID-Client.*"/>
            </intent-filter>
        </activity>

        <activity android:name="org.openecard.demo.activities.PINManagementActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize" >
        </activity>

    </application>

</manifest>